<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bubblepop.game" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bubble Pop Game</name>
    <description>
        A fun bubble popping game where you tap bubbles as they float across the screen
    </description>
    <author email="dev@bubblepop.com" href="https://bubblepop.com">
        Bubble Pop Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="default" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="33" />
    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="deployment-target" value="11.0" />
    </platform>
</widget>
